h1{color: rgb(0, 255, 42); font-size: 60ps; font-style: oblique;}
body{background-image: url(nature.jpg);}
p{color: blue;}
#am{color: coral;}
.jam{color: cornsilk;}
.mango{background-color: grey; width: 200px;height: 200;margin-top: 
    50px;margin-bottom: 50px; margin-left: 50px;padding: 20px;}
#katal{background-color: hotpink;width: 150px; height: 200;}



